<!DOCTYPE html>
<html class="responsive" style="background-image:url('https://brouillon.llanddev.org/img/bg-feux.jpg'); background-repeat: no-repeat; background-size: cover;">
	<head>
		<meta
		charset="utf-8">
		{# <link rel="stylesheet" href="{{ asset('assets/styles/base.css') }}">
		        <link rel="stylesheet" href="{{ asset('assets/styles/grid.css') }}">
		        <link rel="stylesheet" href="{{ asset('assets/styles/layout.css') }}">
		        <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
		        <link rel="stylesheet" href="{{ asset('assets/styles/enfold.css') }}"><!-- couleur -->
		        <link rel="stylesheet" href="{{ asset('assets/styles/custom.css') }}"> #}
		{# <link rel="stylesheet" href="{{ asset('assets/styles/custom.css') }}"> #}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}GEARFMRC
			{% endblock %}
		</title>
		<link rel="stylesheet" {# href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" #}/>
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<script type="text/javascript">
		function setCookie(cname, cvalue, exdays) {
			const d = new Date();
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			let expires = "expires=" + d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
		function getCookie(cname) {
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		function agreed() {
			setCookie('condition', "true", 365);
			document.getElementsByClassName("condition-container")[0].classList.add('hidden');
		}
		function checkCookie() {
			let condition = getCookie("condition");
			if (condition == "" || condition == "false") {
				document.getElementsByClassName("condition-container")[0].classList.remove('hidden');
			} else {
				document.getElementsByClassName("condition-container")[0].classList.add('hidden');
			}
		}
	</script>

	<body
		id="top" class="boxed">
		{# {{ app.request.get('lang') }} #}
		<!-- Header -->
		{% if app.request.get('lang') == 'en' %}
		<header id="header" class="all_colors header_color light_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_slim av_header_sticky_disabled av_header_shrinking_disabled av_header_stretch_disabled av_mobile_menu_tablet av_header_searchicon av_header_unstick_top_disabled av_seperator_small_border av_bottom_nav_disabled ">
			<div id="mobile_header" style="display:none;">
				<nav role="navigation">
					<div id="menuToggle">
						<input type="checkbox" />
							<span></span>
							<span></span>
							<span></span>

							<ul id="menu">
								<li><b>Madagascar</b></li>
								<li><a href="/one_day_forecast_madagascar?lang=en">1 Day Fire Danger Forecast</a></li>
								<li><a href="/active_fire_data_madagascar?lang=en">Active Fire Data</a></li>
								<li><a href="/mburned_area_madagascar?lang=en">Monthly Burned Area Monitoring</a></li>
								<li><a href="/aburned_area_madagascar?lang=en">Annually Burned Area Monitoring</a></li>
								<hr>
								<li><b>East-Africa</b></li>
								<li><a href="/one_day_forecast_ea?lang=en">1 Day Fire Danger Forecast</a></li>
								<li><a href="/active_fire_data_ea?lang=en">Active Fire Data</a></li>
								<li><a href="/mburned_area_ea?lang=en">Monthly Burned Area Monitoring</a></li>
								<li><a href="/aburned_area_ea?lang=en">Annually Burned Area Monitoring</a></li>
							</ul>
					</div>
				</nav>
				<div class="logo-groupe">
					<span class="">
						<a href="https://gfmc.online/">
							<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
						</a>
					</span>
					<span id="logo2" class="">
						<a href="http://www.rfmrc-ea.org">
							<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
						</a>
					</span>
				</div>
					
				<div class="trad"><a href="{{ app.request.pathinfo }}?lang=mg">Mg</a> | 
					<a href="{{ app.request.pathinfo }}?lang=fr">Fr</a> | En
				</div>
			</div>
			<div id="header_main" class="container_wrap container_wrap_logo">

				<div class="trad"><a href="{{ app.request.pathinfo }}?lang=mg">Mg</a> | 
					<a href="{{ app.request.pathinfo }}?lang=fr">Fr</a> | En
				</div>

				<div
					class="container av-logo-container">
					<!-- <div class="inner-container"> -->
					<div class="">
						<div class="logo-groupe">
							<span class="logo">
								<a href="https://gfmc.online/">
									<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
								</a>
							</span>
							<span id="logo2" class="logo" style="left:265px;">
								<a href="http://www.rfmrc-ea.org">
									<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
								</a>
							</span>
						</div>
						<nav class="main_menu" data-selectname="Select a page">
							<div class="avia-menu av-main-nav-wrap">
								<ul id="avia-menu" class="menu av-main-nav">
									<li onmouseenter="showDropdown('menu-item-119784', 'agfmc')" onmouseleave="hideDropdown('menu-item-119784', 'agfmc')" id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">About GFMC</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>

										<script type="text/javascript">
											function showDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'visible';
												document.getElementById(idTarget).style.opacity = 1;
												document.getElementById(idTarget).style.display = 'block';
											}
												function hideDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'hidden';
												document.getElementById(idTarget).style.opacity = 0;
												document.getElementById(idTarget).style.display = 'none';
											}
										</script>

										<div id="agfmc" class="avia_mega_div avia_mega1 three units" style="opacity: 0; display: none; right: -198.531px;">

											<ul class="sub-menu">
												<li id="menu-item-119986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first">
													<span class="mega_menu_title heading-color av-special-font">GLOBAL FIRE MONITORING CENTER</span>
													<ul class="sub-menu">
														<li id="menu-item-119985" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/intro/about.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">About the GFMC</span>
															</a>
														</li>
														<li id="menu-item-119987" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/intro/partner.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Partners and Sponsors of the GFMC</span>
															</a>
														</li>
														<li id="menu-item-119988" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/intro/about4.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">GFMC Activities Calendar</span>
															</a>
														</li>
														<li id="menu-item-119989" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/intro/about3.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Contact</span>
															</a>
														</li>
														<li id="menu-item-119851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children">
															<a href="https://gfmc.online/feueroekologie/agd.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Arbeitsgruppe Feuerökologie</span>
															</a>
															<ul class="sub-menu">
																<li id="menu-item-119990" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/feuerd.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Feuerökologie</span>
																	</a>
																</li>
																<li id="menu-item-119991" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/forschd.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Forschung</span>
																	</a>
																</li>
																<li id="menu-item-119992" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/veroeff.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Veröffentlichungen</span>
																	</a>
																</li>
																<li id="menu-item-119993" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/promotionen.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Promotionen</span>
																	</a>
																</li>
																<li id="menu-item-119994" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/dipld.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Diplomarbeiten</span>
																	</a>
																</li>
																<li id="menu-item-119995" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="https://gfmc.online/feueroekologie/kursd.html">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Kurse</span>
																	</a>
																</li>
																<li id="menu-item-119996" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://www.ffu.uni-freiburg.de/ffu/">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Fakultät für Umwelt und Natürliche Ressourcen</span>
																	</a>
																</li>
																<li id="menu-item-119997" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://www.uni-freiburg.de/">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Uni Freiburg</span>
																	</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>

										</div>
									</li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="about.html" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">About REAFMRC</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li onmouseenter="showDropdown('menu-item-119785', 'gc')" onmouseleave="hideDropdown('menu-item-119785', 'gc')" id="menu-item-119785" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-2 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Global Cooperation</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
										<div id="gc" class="avia_mega_div avia_mega3 nine units" style="opacity: 0; display: none; right: -305px;">

											<ul class="sub-menu">
												<li style="border-right: unset;" id="menu-item-119903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_3 three units  avia_mega_menu_columns_first">
													<span class="mega_menu_title heading-color av-special-font">Global Wildland Fire Network (GWFN)</span>
													<ul class="sub-menu">
														<li id="menu-item-119904" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/globalnet.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">GWFN Home</span>
															</a>
														</li>
														<li id="menu-item-119905" class="avia_mega_text_block menu-item menu-item-type-custom menu-item-object-custom">Direct access to the 14 Regional Wildland Fire Networks</li>
														<li id="menu-item-119906" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/balticregion/balticregion.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Eurasian Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119907" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/seeurope/SEEurope.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Southeast Europe / Caucasus Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119908" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/EuroAlpine/EuroAlpine.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Sub-Regional Euro-Alpine Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119909" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/CentralAsia/CentralAsia.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Central Asia Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119910" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/Northeast-Asia/Northeastasia.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Northeast Asia Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119911" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/South_Asia/Front_RSAWFN.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional South Asia Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119912" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/SouthEastAsia/ASEAN-FireNet.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional South East Asia Wildland FireNetwork (ASEAN)</span>
															</a>
														</li>
														<li id="menu-item-119913" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/Australasia/Australasia.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Australasia Wildland Fire Network (AFAC)</span>
															</a>
														</li>
														<li id="menu-item-119914" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/Africa/Afrifirenet.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Subsahara Africa Wildland FireNetwork (Afrifirenet)</span>
															</a>
														</li>
														<li id="menu-item-119915" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/NorthAmerica/NorthAmerica.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional North America Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119916" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/southamerica/SouthAmerica.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional South America Wildland FireNetwork</span>
															</a>
														</li>
														<li id="menu-item-119917" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/mesoamerica/mesoamerica-2.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Mesoamerica Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119918" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/Caribbean/Caribbean.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Caribbean Wildland Fire Network</span>
															</a>
														</li>
														<li id="menu-item-119919" class="menu-item menu-item-type-custom menu-item-object-custom">
															<a href="https://gfmc.online/globalnetworks/Mediterrania/Mediterrania.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Regional Mediterranean Wildland Fire Network (Silva Mediterranea Forest Fire Working Group)</span>
															</a>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="http://app.rfmrc-ea.org/one_day_forecast_madagascar" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">1 Day Fire Danger Forecast
											</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="http://app.rfmrc-ea.org/active_fire_data_madagascar" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Active Fire Data</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li onmouseenter="showDropdown('menu-item-119787', 'bam')" onmouseleave="hideDropdown('menu-item-119785', 'bam')" id="menu-item-119787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="" onmouseenter="function ss(){document.getElementById('apoitra').style.display = 'block';};">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Burned Area Monitoring</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>

										<script type="text/javascript">
											function showDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'visible';
												document.getElementById(idTarget).style.opacity = 1;
												document.getElementById(idTarget).style.display = 'block';
											}
										</script>

										<div id="bam" class="avia_mega_div avia_mega1 three units" style="opacity: 0; display: none; right: -83px;">

											<ul class="sub-menu">
												<li id="menu-item-119986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first">
													<span class="mega_menu_title heading-color av-special-font">BURNED AREA MONITORING</span>
													<ul class="sub-menu">
														<li id="menu-item-119851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children">
															<a href="https://gfmc.online/feueroekologie/agd.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Monthly Burned Area Monitoring</span>
															</a>
															<ul class="sub-menu">
																<li id="menu-item-119990" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/mburned_area_madagascar">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Madagascar</span>
																	</a>
																</li>
																<li id="menu-item-119991" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/mburned_area_ea">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">East-Africa</span>
																	</a>
																</li>
															</ul>
														</li>
														<li id="menu-item-119851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children">
															<a href="https://gfmc.online/feueroekologie/agd.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Annual Burned Area Monitoring</span>
															</a>
															<ul class="sub-menu">
																<li id="menu-item-119990" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/aburned_area_madagascar">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Madagascar</span>
																	</a>
																</li>
																<li id="menu-item-119991" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/aburned_area_ea">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">East-Africa</span>
																	</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>

										</div>
									</li>
									<li id="menu-item-search" class="noMobile menu-item menu-item-search-dropdown menu-item-avia-special">
										<a href="?s=" data-avia-search-tooltip="
																						<form action=&quot;https://gfmc.online/&quot; id=&quot;searchform&quot; method=&quot;get&quot; class=&quot;&quot;>
																							<div>
																								<input type=&quot;submit&quot; value=&quot;&quot; id=&quot;searchsubmit&quot; class=&quot;button avia-font-entypo-fontello&quot; />
																								<input type=&quot;text&quot; id=&quot;s&quot; name=&quot;s&quot; value=&quot;&quot; placeholder='Search' />
																									</div>
																						</form>
																					" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
											<span class="avia_hidden_link_text">Search</span>
										</a>
									</li>
									<li class="av-burger-menu-main menu-item-avia-special ">
										<a href="#">
											<span class="av-hamburger av-hamburger--spin av-js-hamburger">
												<span class="av-hamburger-box">
													<span class="av-hamburger-inner"></span>
													<strong>Menu</strong>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<!-- end container_wrap-->
			</div>

			<div class="header_bg"></div>

			<!-- end header -->
		</header>
		{% elseif app.request.get('lang') == 'mg' %}
		<style type="text/css">
			.main_menu {
			width: 75%;
			}
			#avia-menu {
			display: grid;
			grid-template-columns: auto auto auto auto auto auto;
			}
			#avia-menu li {
			overflow-wrap: break-word;
			}
			#avia-menu > li > a {
			display: flex;
			justify-content: center;
			align-items: center;
			}
			
			#avia-menu > li > a > .avia-menu-text {
			display: inline-block;
			line-height: 1.5;
			}
		</style>
		<header id="header" class="all_colors header_color light_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_slim av_header_sticky_disabled av_header_shrinking_disabled av_header_stretch_disabled av_mobile_menu_tablet av_header_searchicon av_header_unstick_top_disabled av_seperator_small_border av_bottom_nav_disabled ">
			<div id="mobile_header" style="display:none;">
				<nav role="navigation">
					<div id="menuToggle">
						<input type="checkbox" />
							<span></span>
							<span></span>
							<span></span>

							<ul id="menu">
								<li><b>Madagasikara</b></li>
								<li><a href="/one_day_forecast_madagascar?lang=mg">Vinavina isan’andro mikasika ny toetry ny afo</a></li>
								<li><a href="/active_fire_data_madagascar?lang=mg">Angondrakitra mikasika ireo afo mirehitra</a></li>
								<li><a href="/mburned_area_madagascar?lang=mg">Fanaraha-maso isam-bolana ireo faritra may</a></li>
								<li><a href="/aburned_area_madagascar?lang=mg">Fanaraha-maso isan-taona ireo faritra may</a></li>
								<hr>
								<li><b>Afrika Atsinanana</b></li>
								<li><a href="/one_day_forecast_ea?lang=mg">Vinavina isan’andro mikasika ny toetry ny afo</a></li>
								<li><a href="/active_fire_data_ea?lang=mg">Angondrakitra mikasika ireo afo mirehitra</a></li>
								<li><a href="/mburned_area_ea?lang=mg">Fanaraha-maso isam-bolana ireo faritra may</a></li>
								<li><a href="/aburned_area_ea?lang=mg">Fanaraha-maso isan-taona ireo faritra may</a></li>
							</ul>
					</div>
				</nav>
				<div class="logo-groupe">
					<span class="">
						<a href="https://gfmc.online/">
							<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
						</a>
					</span>
					<span id="logo2" class="">
						<a href="http://www.rfmrc-ea.org">
							<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
						</a>
					</span>
				</div>
					
				<div class="trad">Mg | 
					<a href="{{ app.request.pathinfo }}?lang=fr">Fr</a> | <a href="{{ app.request.pathinfo }}?lang=en">En</a>
				</div>
			</div>
			<div id="header_main" class="container_wrap container_wrap_logo">

				<div class="trad">Mg | 
					<a href="{{ app.request.pathinfo }}?lang=fr">Fr</a> | <a href="{{ app.request.pathinfo }}?lang=en">En</a>
				</div>

				<div
					class="container av-logo-container">
					<!-- <div class="inner-container"> -->
					<div class="">
						<div class="logo-groupe">
							<span class="logo">
								<a href="https://gfmc.online/">
									<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
								</a>
							</span>
							<span id="logo2" class="logo" style="left:265px;">
								<a href="http://www.rfmrc-ea.org">
									<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
								</a>
							</span>
						</div>
						<nav class="main_menu" data-selectname="Select a page">
							<div class="avia-menu av-main-nav-wrap">
								<ul id="avia-menu" class="menu av-main-nav">
									<li onmouseenter="showDropdown('menu-item-119784', 'agfmc')" onmouseleave="hideDropdown('menu-item-119784', 'agfmc')" id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Ny momba ny GFMC</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>

										<script type="text/javascript">
											function showDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'visible';
												document.getElementById(idTarget).style.opacity = 1;
												document.getElementById(idTarget).style.display = 'block';
											}
												function hideDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'hidden';
												document.getElementById(idTarget).style.opacity = 0;
												document.getElementById(idTarget).style.display = 'none';
											}
										</script>

										<div id="agfmc" class="avia_mega_div avia_mega1 three units" style="opacity: 0; display: none; right: -198.531px;">

											<ul class="sub-menu">
												<li
												id="menu-item-119986"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first"
												>
												<span
													class="mega_menu_title heading-color av-special-font"
													>FOIBE FANARAHA-MASON'NY AFO MANERAN-TANY</span
												>
												<ul class="sub-menu">
													<li
													id="menu-item-119985"
													class="menu-item menu-item-type-custom menu-item-object-custom"
													>
													<a href="https://gfmc.online/intro/about.html">
														<span class="avia-bullet"></span
														><span class="avia-menu-text"
														>Ny momba ny GFMC</span
														>
													</a>
													</li>
													<li
													id="menu-item-119987"
													class="menu-item menu-item-type-custom menu-item-object-custom"
													>
													<a href="https://gfmc.online/intro/partner.html">
														<span class="avia-bullet"></span
														><span class="avia-menu-text"
														>Mpiara miombon’antoka sy mpanohana ny GFMC</span
														>
													</a>
													</li>
													<li
													id="menu-item-119988"
													class="menu-item menu-item-type-custom menu-item-object-custom"
													>
													<a href="https://gfmc.online/intro/about4.html">
														<span class="avia-bullet"></span
														><span class="avia-menu-text"
														>Fandaharan’asa voalahatry ny GFMC</span
														>
													</a>
													</li>
													<li
													id="menu-item-119989"
													class="menu-item menu-item-type-custom menu-item-object-custom"
													>
													<a href="https://gfmc.online/intro/about3.html">
														<span class="avia-bullet"></span
														><span class="avia-menu-text">Fifandraisana</span>
													</a>
													</li>
													<li
													id="menu-item-119851"
													class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children"
													>
													<a
														href="https://gfmc.online/feueroekologie/agd.html"
													>
														<span class="avia-bullet"></span
														><span class="avia-menu-text"
														>Vondron’asa ekolojia momba ny afo</span
														>
													</a>
													<ul class="sub-menu">
														<li
														id="menu-item-119990"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/feuerd.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Ekolojia momba ny afo</span
															>
														</a>
														</li>
														<li
														id="menu-item-119991"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/forschd.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Fikarohana</span
															>
														</a>
														</li>
														<li
														id="menu-item-119992"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/veroeff.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Famoahana vokam-pikarohana</span
															>
														</a>
														</li>
														<li
														id="menu-item-119993"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/promotionen.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Fanohanan-kevitra « Doctorat »</span
															>
														</a>
														</li>
														<li
														id="menu-item-119994"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/dipld.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Fanohanan-kevitra « Diplôme »</span
															>
														</a>
														</li>
														<li
														id="menu-item-119995"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/feueroekologie/kursd.html"
														>
															<span class="avia-bullet"></span
															><span class="avia-menu-text">Taranja</span>
														</a>
														</li>
														<li
														id="menu-item-119996"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a href="http://www.ffu.uni-freiburg.de/ffu/">
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Fakiolte fampianarana ny Tontolo Iainana sy ny loharanon-karena voajanahary</span
															>
														</a>
														</li>
														<li
														id="menu-item-119997"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a href="http://www.uni-freiburg.de/">
															<span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Oniversite Freiburg</span
															>
														</a>
														</li>
													</ul>
													</li>
												</ul>
												</li>
											</ul>

										</div>
									</li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="about.html" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Ny momba ny REAFMRC</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li onmouseenter="showDropdown('menu-item-119785', 'gc')" onmouseleave="hideDropdown('menu-item-119785', 'gc')" id="menu-item-119785" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-2 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Fifanarahana iraisam-pirenena</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
										<div id="gc" class="avia_mega_div avia_mega3 nine units" style="opacity: 0; display: none; right: -305px;">

											<ul class="sub-menu">
												<li
													style="border-right: unset;"
													id="menu-item-119903"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_3 three units avia_mega_menu_columns_first"
													>
													<span
														class="mega_menu_title heading-color av-special-font"
														>Tambajotra eran-tany miady amin’ny doro ala (GWFN)</span
													>
													<ul class="sub-menu">
														<li
														id="menu-item-119904"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/globalnet.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Fandraisana GWFN</span
															></a
														>
														</li>
														<li
														id="menu-item-119905"
														class="avia_mega_text_block menu-item menu-item-type-custom menu-item-object-custom"
														>
														Fidirana mivantana amin’ireo Faritra 14 miady amin’ny doro ala
														</li>
														<li
														id="menu-item-119906"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/balticregion/balticregion.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Eorazia</span
															></a
														>
														</li>
														<li
														id="menu-item-119907"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/seeurope/SEEurope.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Eoropa Atsimo atsinanana/Caucasus</span
															></a
														>
														</li>
														<li
														id="menu-item-119908"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/EuroAlpine/EuroAlpine.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any amin’ny faritra ambany Eorazia</span
															></a
														>
														</li>
														<li
														id="menu-item-119909"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/CentralAsia/CentralAsia.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Azia afovoany</span
															></a
														>
														</li>
														<li
														id="menu-item-119910"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/Northeast-Asia/Northeastasia.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Azia avaratra</span
															></a
														>
														</li>
														<li
														id="menu-item-119911"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/South_Asia/Front_RSAWFN.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Azia Atsimo</span
															></a
														>
														</li>
														<li
														id="menu-item-119912"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/SouthEastAsia/ASEAN-FireNet.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Azia Atsimo Atsinanana (ASEAN)</span
															></a
														>
														</li>
														<li
														id="menu-item-119913"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/Australasia/Australasia.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Azia Atsimo (AFAC)</span
															></a
														>
														</li>
														<li
														id="menu-item-119914"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/Africa/Afrifirenet.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Afrika atsimon’I Sahara (Afrifirenet)</span
															></a
														>
														</li>
														<li
														id="menu-item-119915"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/NorthAmerica/NorthAmerica.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Amerika Avaratra</span
															></a
														>
														</li>
														<li
														id="menu-item-119916"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/southamerica/SouthAmerica.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Amerika Atsimo</span
															></a
														>
														</li>
														<li
														id="menu-item-119917"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/mesoamerica/mesoamerica-2.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Mezoamerika</span
															></a
														>
														</li>
														<li
														id="menu-item-119918"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/Caribbean/Caribbean.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any Karaiba</span
															></a
														>
														</li>
														<li
														id="menu-item-119919"
														class="menu-item menu-item-type-custom menu-item-object-custom"
														>
														<a
															href="https://gfmc.online/globalnetworks/Mediterrania/Mediterrania.html"
															><span class="avia-bullet"></span
															><span class="avia-menu-text"
															>Tambajotra miady amin’ny doro ala any amin’ny faritra mediteranea (vondron’asa miady amin’ny doro ala ao “Silva Mediteranea”</span
															></a
														>
														</li>
													</ul>
													</li>
											</ul>
										</div>
									</li>
									<li id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="http://app.rfmrc-ea.org/one_day_forecast_madagascar?lang=mg" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Vinavina isan’andro ny toetry ny afo
											</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li id="menu-item-119784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="http://app.rfmrc-ea.org/active_fire_data_madagascar?lang=mg" class="">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Angondrakitry ny afo mirehitra</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>
									</li>
									<li onmouseenter="showDropdown('menu-item-119787', 'bam')" onmouseleave="hideDropdown('menu-item-119785', 'bam')" id="menu-item-119787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available" style="overflow: hidden;">
										<a href="#" style="cursor: default;" class="" onmouseenter="function ss(){document.getElementById('apoitra').style.display = 'block';};">
											<span class="avia-bullet"></span>
											<span class="avia-menu-text">Fanaraha-maso ireo faritra may</span>
											<span class="avia-menu-fx">
												<span class="avia-arrow-wrap">
													<span class="avia-arrow"></span>
												</span>
											</span>
											<span class="dropdown_available"></span>
										</a>

										<script type="text/javascript">
											function showDropdown(idMain, idTarget) {
												document.getElementById(idMain).style.overflow = 'visible';
												document.getElementById(idTarget).style.opacity = 1;
												document.getElementById(idTarget).style.display = 'block';
											}
										</script>

										<div id="bam" class="avia_mega_div avia_mega1 three units" style="opacity: 0; display: none; right: -83px;">

											<ul class="sub-menu">
												<li id="menu-item-119986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first">
													<span class="mega_menu_title heading-color av-special-font">FANARAHA-MASO IREO FARITRA MAY</span>
													<ul class="sub-menu">
														<li id="menu-item-119851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children">
															<a href="https://gfmc.online/feueroekologie/agd.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Fanaraha-maso isam-bolana ireo faritra may</span>
															</a>
															<ul class="sub-menu">
																<li id="menu-item-119990" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/mburned_area_madagascar?lang=mg">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Madagasikara</span>
																	</a>
																</li>
																<li id="menu-item-119991" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/mburned_area_ea?lang=mg">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Afrika atsinanana</span>
																	</a>
																</li>
															</ul>
														</li>
														<li id="menu-item-119851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children">
															<a href="https://gfmc.online/feueroekologie/agd.html">
																<span class="avia-bullet"></span>
																<span class="avia-menu-text">Fanaraha-maso isan-taona ireo faritra may</span>
															</a>
															<ul class="sub-menu">
																<li id="menu-item-119990" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/aburned_area_madagascar?lang=mg">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Madagasikara</span>
																	</a>
																</li>
																<li id="menu-item-119991" class="menu-item menu-item-type-custom menu-item-object-custom">
																	<a href="http://app.rfmrc-ea.org/aburned_area_ea?lang=mg">
																		<span class="avia-bullet"></span>
																		<span class="avia-menu-text">Afrika atsinanana</span>
																	</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>

										</div>
									</li>
									<li id="menu-item-search" class="noMobile menu-item menu-item-search-dropdown menu-item-avia-special">
										<a href="?s=" data-avia-search-tooltip="
																						<form action=&quot;https://gfmc.online/&quot; id=&quot;searchform&quot; method=&quot;get&quot; class=&quot;&quot;>
																							<div>
																								<input type=&quot;submit&quot; value=&quot;&quot; id=&quot;searchsubmit&quot; class=&quot;button avia-font-entypo-fontello&quot; />
																								<input type=&quot;text&quot; id=&quot;s&quot; name=&quot;s&quot; value=&quot;&quot; placeholder='Search' />
																									</div>
																						</form>
																					" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
											<span class="avia_hidden_link_text">Search</span>
										</a>
									</li>
									<li class="av-burger-menu-main menu-item-avia-special ">
										<a href="#">
											<span class="av-hamburger av-hamburger--spin av-js-hamburger">
												<span class="av-hamburger-box">
													<span class="av-hamburger-inner"></span>
													<strong>Menu</strong>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<!-- end container_wrap-->
			</div>

			<div class="header_bg"></div>

			<!-- end header -->
		</header>
		{% else %}
		<header
			id="header"
			class="all_colors header_color light_bg_color av_header_top av_logo_left av_main_nav_header av_menu_right av_slim av_header_sticky_disabled av_header_shrinking_disabled av_header_stretch_disabled av_mobile_menu_tablet av_header_searchicon av_header_unstick_top_disabled av_seperator_small_border av_bottom_nav_disabled"
		>
		<div id="mobile_header" style="display:none;">
			<nav role="navigation">
				<div id="menuToggle">
					<input type="checkbox" />
						<span></span>
						<span></span>
						<span></span>

						<ul id="menu">
							<li><b>Madagascar</b></li>
							<li><a href="/one_day_forecast_madagascar">Prévision journalière des feux</a></li>
							<li><a href="/active_fire_data_madagascar">Données sur les feux actifs</a></li>
							<li><a href="/mburned_area_madagascar">Suivi des superficies brûlées mensuellement</a></li>
							<li><a href="/aburned_area_madagascar">Suivi des superficies brûlées annuellement</a></li>
							<hr>
							<li><b>Afrique de l'Est</b></li>
							<li><a href="/one_day_forecast_ea">Prévision journalière des feux</a></li>
							<li><a href="/active_fire_data_ea">Données sur les feux actifs</a></li>
							<li><a href="/mburned_area_ea">Suivi des superficies brûlées mensuellement</a></li>
							<li><a href="/aburned_area_ea">Suivi des superficies brûlées annuellement</a></li>
						</ul>
				</div>
			</nav>
			<div class="logo-groupe">
				<span class="">
					<a href="https://gfmc.online/">
						<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
					</a>
				</span>
				<span id="logo2" class="">
					<a href="http://www.rfmrc-ea.org">
						<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
					</a>
				</span>
			</div>
				
			<div class="trad"><a href="{{ app.request.pathinfo }}?lang=mg">Mg</a> | Fr | <a href="{{ app.request.pathinfo }}?lang=en">En</a></div>
		</div>
		<div id="header_main" class="container_wrap container_wrap_logo">
			<div class="trad"><a href="{{ app.request.pathinfo }}?lang=mg">Mg</a> | Fr | <a href="{{ app.request.pathinfo }}?lang=en">En</a></div>

			<div class="container av-logo-container">
			<!-- <div class="inner-container"> -->
			<div class="">
				<div class="logo-groupe">
							<span class="logo">
								<a href="https://gfmc.online/">
									<img height="50" width="150" src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="GFMC">
								</a>
							</span>
							<span id="logo2" class="logo" style="left:265px;">
								<a href="http://www.rfmrc-ea.org">
									<img height="50" width="150" src="https://www.rfmrc-ea.org/img/logo_reafmrc.jpg" alt="GFMC">
								</a>
							</span>
						</div>
				<nav class="main_menu" data-selectname="Select a page">
				<div class="avia-menu av-main-nav-wrap">
					<ul id="avia-menu" class="menu av-main-nav">
					<li
						onmouseenter="showDropdown('menu-item-119784', 'agfmc')"
						onmouseleave="hideDropdown('menu-item-119784', 'agfmc')"
						id="menu-item-119784"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a href="#" style="cursor: default;" class="">
						<span class="avia-bullet"></span>
						<span class="avia-menu-text">A propos du GFMC</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
							<span class="avia-arrow"></span>
							</span>
						</span>
						<span class="dropdown_available"></span>
						</a>

						<script type="text/javascript">
						function showDropdown(idMain, idTarget) {
							document.getElementById(idMain).style.overflow =
							"visible";
							document.getElementById(idTarget).style.opacity = 1;
							document.getElementById(idTarget).style.display =
							"block";
						}
						function hideDropdown(idMain, idTarget) {
							document.getElementById(idMain).style.overflow =
							"hidden";
							document.getElementById(idTarget).style.opacity = 0;
							document.getElementById(idTarget).style.display =
							"none";
						}
						</script>

						<div
						id="agfmc"
						class="avia_mega_div avia_mega1 three units"
						style="opacity: 0; display: none; right: -198.531px;"
						>
						<ul class="sub-menu">
							<li
							id="menu-item-119986"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first"
							>
							<span
								class="mega_menu_title heading-color av-special-font"
								>CENTRE MONDIAL DE SURVEILLANCE DES FEUX DE FORÊTS</span
							>
							<ul class="sub-menu">
								<li
								id="menu-item-119985"
								class="menu-item menu-item-type-custom menu-item-object-custom"
								>
								<a href="https://gfmc.online/intro/about.html">
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>A propos de GFMC</span
									>
								</a>
								</li>
								<li
								id="menu-item-119987"
								class="menu-item menu-item-type-custom menu-item-object-custom"
								>
								<a href="https://gfmc.online/intro/partner.html">
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>Partenaires et Sponsors du GFMC</span
									>
								</a>
								</li>
								<li
								id="menu-item-119988"
								class="menu-item menu-item-type-custom menu-item-object-custom"
								>
								<a href="https://gfmc.online/intro/about4.html">
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>Calendrier des activités du GFMC</span
									>
								</a>
								</li>
								<li
								id="menu-item-119989"
								class="menu-item menu-item-type-custom menu-item-object-custom"
								>
								<a href="https://gfmc.online/intro/about3.html">
									<span class="avia-bullet"></span
									><span class="avia-menu-text">Contact</span>
								</a>
								</li>
								<li
								id="menu-item-119851"
								class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children"
								>
								<a
									href="https://gfmc.online/feueroekologie/agd.html"
								>
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>Groupe de Travail sur l'Ecologie du Feu</span
									>
								</a>
								<ul class="sub-menu">
									<li
									id="menu-item-119990"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/feuerd.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Écologie du feu</span
										>
									</a>
									</li>
									<li
									id="menu-item-119991"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/forschd.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Recherche</span
										>
									</a>
									</li>
									<li
									id="menu-item-119992"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/veroeff.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Publications</span
										>
									</a>
									</li>
									<li
									id="menu-item-119993"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/promotionen.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Thèses de doctorat</span
										>
									</a>
									</li>
									<li
									id="menu-item-119994"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/dipld.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Thèses de diplôme</span
										>
									</a>
									</li>
									<li
									id="menu-item-119995"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/feueroekologie/kursd.html"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text">Cours</span>
									</a>
									</li>
									<li
									id="menu-item-119996"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a href="http://www.ffu.uni-freiburg.de/ffu/">
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Faculté de l'environnement et des
										ressources naturelles</span
										>
									</a>
									</li>
									<li
									id="menu-item-119997"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a href="http://www.uni-freiburg.de/">
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Université de Freiburg</span
										>
									</a>
									</li>
								</ul>
								</li>
							</ul>
							</li>
						</ul>
						</div>
					</li>
					<li
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a href="about_fr.html" class="">
						<span class="avia-bullet"></span>
						<span class="avia-menu-text">A propos de REAFMRC</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
							<span class="avia-arrow"></span>
							</span>
						</span>
						<span class="dropdown_available"></span>
						</a>
					</li>
					<li
						onmouseenter="showDropdown('menu-item-119785', 'gc')"
						onmouseleave="hideDropdown('menu-item-119785', 'gc')"
						id="menu-item-119785"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-2 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a href="#" style="cursor: default;" class="">
						<span class="avia-bullet"></span>
						<span class="avia-menu-text">Collaboration Mondiale</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap"
							><span class="avia-arrow"></span
							></span>
						</span>
						<span class="dropdown_available"></span>
						</a>
						<div
						id="gc"
						class="avia_mega_div avia_mega3 nine units"
						style="opacity: 0; display: none; right: -305px;"
						>
						<ul class="sub-menu">
							<li
							style="border-right: unset;"
							id="menu-item-119903"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_3 three units avia_mega_menu_columns_first"
							>
								<span
								class="mega_menu_title heading-color av-special-font"
								>Réseau Mondial de lutte contre les feux de forêts (GWFN)</span
								>
								<ul class="sub-menu">
									<li
									id="menu-item-119904"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/globalnet.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>GWFN Accueil</span
										></a
									>
									</li>
									<li
									id="menu-item-119905"
									class="avia_mega_text_block menu-item menu-item-type-custom menu-item-object-custom"
									>
									Accès direct aux 14 Réseaux Régionaux de lutte contre les feux
									</li>
									<li
									id="menu-item-119906"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/balticregion/balticregion.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans la Région Eurasienne </span
										></a
									>
									</li>
									<li
									id="menu-item-119907"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/seeurope/SEEurope.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans le Sud Est de l’Europe/Caucasus</span
										></a
									>
									</li>
									<li
									id="menu-item-119908"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/EuroAlpine/EuroAlpine.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans la sous-Région Eurasienne </span
										></a
									>
									</li>
									<li
									id="menu-item-119909"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/CentralAsia/CentralAsia.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Asie centrale</span
										></a
									>
									</li>
									<li
									id="menu-item-119910"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/Northeast-Asia/Northeastasia.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans le Nord de l’Asie</span
										></a
									>
									</li>
									<li
									id="menu-item-119911"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/South_Asia/Front_RSAWFN.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans le Sud de l’Asie </span
										></a
									>
									</li>
									<li
									id="menu-item-119912"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/SouthEastAsia/ASEAN-FireNet.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt dans l’Asie du sud Est (ASEAN) </span
										></a
									>
									</li>
									<li
									id="menu-item-119913"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/Australasia/Australasia.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Asie Australe (AFAC)</span
										></a
									>
									</li>
									<li
									id="menu-item-119914"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/Africa/Afrifirenet.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Afrique SubSaharienne (Afrifirenet)</span
										></a
									>
									</li>
									<li
									id="menu-item-119915"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/NorthAmerica/NorthAmerica.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Amerique du Nord</span
										></a
									>
									</li>
									<li
									id="menu-item-119916"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/southamerica/SouthAmerica.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Amerique du Sud</span
										></a
									>
									</li>
									<li
									id="menu-item-119917"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/mesoamerica/mesoamerica-2.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Méso-Amérique</span
										></a
									>
									</li>
									<li
									id="menu-item-119918"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/Caribbean/Caribbean.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Caraïbes</span
										></a
									>
									</li>
									<li
									id="menu-item-119919"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="https://gfmc.online/globalnetworks/Mediterrania/Mediterrania.html"
										><span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Réseau de lutte contre les feux de forêt en Méditerranée (groupe de travail sur les feux de forêt Silva Mediterranea</span
										></a
									>
									</li>
								</ul>
							</li>
						</ul>
						</div>
					</li>
					<li
						id="menu-item-119784"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a
						href="http://app.rfmrc-ea.org/one_day_forecast_madagascar?lang=fr"
						class=""
						>
						<span class="avia-bullet"></span>
						<span class="avia-menu-text"
							>Prévision journalière des feux
						</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
							<span class="avia-arrow"></span>
							</span>
						</span>
						<span class="dropdown_available"></span>
						</a>
					</li>
					<li
						id="menu-item-119784"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a
						href="http://app.rfmrc-ea.org/active_fire_data_madagascar?lang=fr"
						class=""
						>
						<span class="avia-bullet"></span>
						<span class="avia-menu-text">Données sur les feux actifs</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
							<span class="avia-arrow"></span>
							</span>
						</span>
						<span class="dropdown_available"></span>
						</a>
					</li>
					<li
						onmouseenter="showDropdown('menu-item-119787', 'bam')"
						onmouseleave="hideDropdown('menu-item-119785', 'bam')"
						id="menu-item-119787"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-mega-parent menu-item-top-level menu-item-top-level-1 dropdown_ul_available"
						style="overflow: hidden;"
					>
						<a
						href="#"
						style="cursor: default;"
						class=""
						onmouseenter="function ss(){document.getElementById('apoitra').style.display = 'block';};"
						>
						<span class="avia-bullet"></span>
						<span class="avia-menu-text">Superficies brûlées</span>
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
							<span class="avia-arrow"></span>
							</span>
						</span>
						<span class="dropdown_available"></span>
						</a>

						<script type="text/javascript">
						function showDropdown(idMain, idTarget) {
							document.getElementById(idMain).style.overflow =
							"visible";
							document.getElementById(idTarget).style.opacity = 1;
							document.getElementById(idTarget).style.display =
							"block";
						}
						</script>

						<div
						id="bam"
						class="avia_mega_div avia_mega1 three units"
						style="opacity: 0; display: none; right: -83px;"
						>
						<ul class="sub-menu">
							<li
							id="menu-item-119986"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children avia_mega_menu_columns_1 three units avia_mega_menu_columns_last avia_mega_menu_columns_first"
							>
							<span
								class="mega_menu_title heading-color av-special-font"
								>SUIVI DES SUPERFICIES BRULEES</span
							>
							<ul class="sub-menu">
								<li
								id="menu-item-119851"
								class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children"
								>
								<a
									href="https://gfmc.online/feueroekologie/agd.html"
								>
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>Suivi mensuel des superficies brûlées</span
									>
								</a>
								<ul class="sub-menu">
									<li
									id="menu-item-119990"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="http://app.rfmrc-ea.org/mburned_area_madagascar?lang=fr"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Madagascar</span
										>
									</a>
									</li>
									<li
									id="menu-item-119991"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="http://app.rfmrc-ea.org/mburned_area_ea?lang=fr"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Afrique de l'Est</span
										>
									</a>
									</li>
								</ul>
								</li>
								<li
								id="menu-item-119851"
								class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children"
								>
								<a
									href="https://gfmc.online/feueroekologie/agd.html"
								>
									<span class="avia-bullet"></span
									><span class="avia-menu-text"
									>Suivi annuel des superficies brûlées</span
									>
								</a>
								<ul class="sub-menu">
									<li
									id="menu-item-119990"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="http://app.rfmrc-ea.org/aburned_area_madagascar?lang=fr"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Madagascar</span
										>
									</a>
									</li>
									<li
									id="menu-item-119991"
									class="menu-item menu-item-type-custom menu-item-object-custom"
									>
									<a
										href="http://app.rfmrc-ea.org/aburned_area_ea?lang=fr"
									>
										<span class="avia-bullet"></span
										><span class="avia-menu-text"
										>Afrique de l'Est</span
										>
									</a>
									</li>
								</ul>
								</li>
							</ul>
							</li>
						</ul>
						</div>
					</li>
					<li
						id="menu-item-search"
						class="noMobile menu-item menu-item-search-dropdown menu-item-avia-special"
					>
						<a
						href="?s="
						data-avia-search-tooltip='
												<form action="https://gfmc.online/" id="searchform" method="get" class="">
													<div>
														<input type="submit" value="" id="searchsubmit" class="button avia-font-entypo-fontello" />
														<input type="text" id="s" name="s" value="" placeholder=&apos;Search&apos; />
															</div>
												</form>
											'
						aria-hidden="true"
						data-av_icon=""
						data-av_iconfont="entypo-fontello"
						>
						<span class="avia_hidden_link_text">Search</span>
						</a>
					</li>
					<li class="av-burger-menu-main menu-item-avia-special">
						<a href="#">
						<span
							class="av-hamburger av-hamburger--spin av-js-hamburger"
						>
							<span class="av-hamburger-box">
							<span class="av-hamburger-inner"></span>
							<strong>Menu</strong>
							</span>
						</span>
						</a>
					</li>
					</ul>
				</div>
				</nav>
			</div>
			</div>
			<!-- end container_wrap-->
		</div>

		<div class="header_bg"></div>

		<!-- end header -->
		</header>
		{% endif %}
		<div id="main" class="all_colors" data-scroll-offset="0">

			<div class="main_color container_wrap_first container_wrap sidebar_right">
				<div class="container">
					<main class="template-page alpha units no-pt-mobile" style="padding-top: 50px; padding-bottom: 5px;">
						<div class="post-entry post-entry-type-page post-entry-28">
							<div class="entry-content-wrapper clearfix">
								<div class="pf-content">

									<style type="text/css">
										.component {
											display: grid;
											grid-template-columns: auto auto auto;
										}
										.grid-item {
											padding: 1em;
											text-align: center;
										}
										.grid-item img {
											height: 72px;
										}
										.grid-item a {
											font-size: 24px;
											text-decoration: none;
											font-family: 'Marvel';
										}
										.partners .grid-item a {
											font-size: 24px;
											text-decoration: none;
											font-family: 'Marvel';
											font-weight: 600;
										}
										.partners .grid-item a:hover {
											font-style: Italic;
										}
									</style>

									{# <div class="entry-content-wrapper clearfix standard-content">
									                                        <header class="entry-content-header">
									                                            <h1 class="post-title entry-title">	
									                                                <a href="#" rel="bookmark" title="Permanent Link: Global Fire Early Warning System">
									                                                    REGIONAL EAST AFRICA FIRE MANAGEMENT RESOURCE CENTER
									                                                </a>
									                                            </h1>
									                                            <span class="av-vertical-delimiter"></span>
									                                            <div class="entry-content">
									                                                <div class="pf-content">
									                                                    <p style="text-align: center;">
																							<a class="btn btn-primary" href="forecast.html">1 Day Fire Danger Forecast</a> 
																							| Active Fire Data&nbsp;| 
																							<a href="month.html" target="_blank" rel="noopener">Monthly Burned Area Monitoring</a>
																							&nbsp;| 
																							<a class="btn btn-primary" href="annual.html">Annually Burned Area Monitoring</a>
																							<!-- &nbsp;| 
																							<a class="btn btn-primary" href="https://gfmc.online/gwfews/partners-2.html"> Further Information &amp; Contacts</a>
																							&nbsp;| 
																							<a class="btn btn-primary" href="https://gfmc.online/fwf/fwf.html"> GFMC EW Portal</a> -->
																						</p>
																						<h3 style="text-align: center;">
																							<strong>Active Fire Data</strong>
																						</h3>
																						<p style="text-align: center;">
																							Madagascar&nbsp;| 
																							<a class="btn btn-primary" href="forecast.html">East Africa</a> 
																						</p>
																						
																						<p style="text-align: center;">
																							<strong>
																								<span>Note: Beta version map, for any suggestion, please send your comments at <a style="color: #a81010;" href="mailto:lab_llanddev@moov.mg">lab_llanddev@moov.mg</a>
																								</span>
																							</strong>
																						</p>
									
									                                                    <h2 style="text-align: center;">Madagascar</h2>
									                                                    <p>
									                                                        {% block body %}{% endblock %}
									                                                    </p>
									                                                    
									                                                    <section class="av_textblock_section ">
									                                                        <style type="text/css">
									                                                            .component {
									                                                                display: grid;
									                                                                grid-template-columns: auto auto auto;
									                                                            }
									                                                            .grid-item {
									                                                                padding: 1em;
									                                                                text-align: center;
									                                                            }
									                                                            .grid-item img {
									                                                                height: 72px;
									                                                            }
									                                                            .grid-item a {
									                                                                font-size: 24px;
									                                                                text-decoration: none;
									                                                                font-family: 'Marvel';
									                                                            }
									                                                            .partners .grid-item  a {
									                                                                font-size: 24px;
									                                                                text-decoration: none;
									                                                                font-family: 'Marvel';
									                                                                font-weight: 600;
									                                                            }
									                                                            .partners .grid-item a:hover {
									                                                                font-style: Italic;
									                                                            }
									                                                        </style>
									                                                        <div class="avia_textblock  ">
									                                                            <h3></h3>
									                                                            <!-- <h3>Partners</h3> -->
									                                                            <div class="partners">
									                                                                <div class="component partners">
									                                                                    <div class="grid-item">
									                                                                        <a href="https://gfmc.online/eurofire/covid19.html">
									                                                                            <img src="https://brouillon.llanddev.org/img/logo_medd.jpg" alt="logo">
									                                                                        </a>
									                                                                    </div>
									                                                                    <div class="grid-item">
									                                                                        <a href="https://gfmc.online/eurofire/covid19.html">
									                                                                            <img src="https://gfmc.online/wp-content/uploads/gfmc_logo_2020_2.png" alt="logo">
									                                                                        </a>
									                                                                    </div>
									                                                                    <div class="grid-item">
									                                                                        <a href="https://gfmc.online/manag/cbifm.html">
									                                                                            <img src="https://brouillon.llanddev.org/img/logo_giz.png" alt="logo">
									                                                                        </a>
									                                                                    </div>
									                                                                </div>
									                                                            </div>
									                                                        </div>
									                                                    </section>
									                                                </div>
									                                            </div>
									                                        </header>
									                                    </div> #}

									{% block body %}{% endblock %}

								</div>
							</div>
						</div>

					</main>
					<!-- close content main element -->
					<!-- section close by builder template -->
				</div>
				<!--end builder template-->
			</div>
			<!-- close default .container_wrap element -->
			<div class="container_wrap footer_color" id="footer">
				<div class="container">
					<div class="flex_column   first el_before_">
						<section id="nav_menu-10" class="widget clearfix widget_nav_menu">
							<div
								class="menu-footermenu-container"><!-- <ul id="menu-footermenu" class="menu">
									                                    <li id="menu-item-116257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116257">
									                                        <a href="https://gfmc.online/impressum-inprint.html">Impressum</a>
									                                    </li>
									                                    <li id="menu-item-116262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116262">
									                                        <a href="https://gfmc.online/datenschutzerklarung.html">Datenschutzerklärung</a>
									                                    </li>
									                                </ul> -->
							</div>
							<span class="seperator extralight-border"></span>
						</section>
						<section id="text-2" class="widget clearfix widget_text">
							<div class="textwidget">
								{% if app.request.get('lang') == 'en' %}
									<p>© Global Fire Monitoring Center (GFMC) / Fire Ecology Research Group<br>
										All materials produced by GFMC or IFFN must be quoted properly. Copyrights of materials provided by other organizations or publications and websites hyperlinked with this website must be observed. It is not permitted to publish or otherwise use photographs produced by the GFMC and other providers without a written permission.
									</p>
									{% elseif app.request.get('lang') == 'mg' %}
									<p>
										© Foibe fanaraha-mason’ny afo maneran-tany (GFMC) / Vondrona Fikarohana momban’ny Ekolojian’ny afo<br />
										Ny fitaovana rehetra vokarin’ny GFMC na IFFN (Filazam-baovao maneran-tany momba ny doro Ala) dia tsy maintsy voatonona araka ny tokony ho izy. Ny zon’ny mpamorona ny fitaovana nomen’ny fikambanana hafa na boky sy ireo rohy mifandray amin’ity tranokala ity dia tsy maintsy hajaina. Voarara ny mamoaka na mampiasa sary navoakan’ny GFMC sy ireo mpamatsy hafa tsy nahazoana alalana an-tsoratra.
									</p>
									{% else %}
									<p>
										© Centre Mondial de Surveillance des feux (GFMC) / Groupe de Recherche sur l'écologie du feu<br />
										Tous les documents produits par le GFMC ou l’Actualité Internationale sur les Feux de Forêt (IFFN) doivent être cités correctement. Les droits d'auteur des documents fournis par d'autres organisations ou publications et sites Web reliés par un hyperlien à ce site doivent être respectés. Il est interdit de publier ou d'utiliser d'une autre manière les photographies produites par le GFMC et d'autres fournisseurs sans une autorisation écrite.
									</p>
								{% endif %}
							</div>
							<span class="seperator extralight-border"></span>
						</section>
						<section id="custom_html-2" class="widget_text widget clearfix widget_custom_html">
							<div class="textwidget custom-html-widget">
							{% if app.request.get('lang') == 'en' %}
								<p style="text-align:right">powered by
									<a href="https://www.llanddev.org/index.en.html" target="blank" rel="noopener">LLandDev</a>
								</p>
							{% elseif app.request.get('lang') == 'mg' %}
								<p style="text-align:right">Ampandehanin’i
									<a href="https://www.llanddev.org/index.mg.html" target="blank" rel="noopener">LLandDev</a>
								</p>
							{% else %}
								<p style="text-align:right">Alimenté par
									<a href="https://www.llanddev.org" target="blank" rel="noopener">LLandDev</a>
								</p>
							{% endif %}
							</div>
							<span class="seperator extralight-border"></span>
						</section>
					</div>
				</div>
				<!-- ####### END FOOTER CONTAINER ####### -->
			</div>
			<!-- end main -->
		</div>


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
